Repository Horievy/epam_fe_2019_Horievyi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=js ., stylelint --syntax=scss, htmllint

HW22_Jquery - added modals plugin
  RD-master/config/articles.json
  blog.html
  index.html
  js/blogPage.js
  js/jquery.js
  js/myModalPlugin.js
  js/renderPostsFromServer.js
Due: eslint --ext=js ., htmllint

HW22_Jquery - added close on ESC button
  js/myModalPlugin.js
Due: eslint --ext=js .

HW24-NodeJS/Express: finished HW
  RD-master/.gitignore
  RD-master/config/articles.json
  RD-master/package-lock.json
  RD-master/package.json
  RD-master/routes.js
  RD-master/server.js
  js/renderNewPost.js
  js/renderPostsFromServer.js
Due: eslint --ext=js .

HW23-Webpack done
  blog.html
  blog.js
  img/Image-post3.png
  img/Img-post1.png
  img/Img-post2.png
  img/Img-post3.png
  img/Imgage-post1.png
  img/Imgage-post2.png
  img/PostMainImg.png
  img/bg-img1.png
  img/bg-img2.png
  img/bg-img3.png
  img/bg-testimonial.png
  img/map.png
  index.html
  index.js
  js/addPost.js
  js/blogPage.js
  js/create.test.js
  js/data.js
  js/indexPage.js
  js/postPage.js
  js/renderNewPost.js
  js/renderPostsFromServer.js
  js/testsToImport.js
  js/utils.js
  js/validate.js
  karma.conf.js
  package-lock.json
  package.json
  post.html
  post.js
  webpack.config.js
Due: eslint --ext=js ., htmllint

HW26 - begining
  css/main.css
  css/main.css.map
  js/mediator.js
  mediator.html
  scss/_styles.scss
Due: eslint --ext=js ., stylelint --syntax=scss, htmllint

HW30-Angular-intro - Refactoring
  db.json
  src/app/app/app.module.ts
  src/app/app/components/footer/footer.component.html
  src/app/app/components/footer/footer.component.scss
  src/app/app/components/footer/footer.component.spec.ts
  src/app/app/components/footer/footer.component.ts
  src/app/app/components/header/header.component.html
  src/app/app/components/header/header.component.scss
  src/app/app/components/header/header.component.spec.ts
  src/app/app/components/header/header.component.ts
  src/app/app/containers/app/app.component.ts
  src/app/courses/components/course-form/course-form.component.html
  src/app/courses/components/course/course.component.html
  src/app/courses/containers/courses/courses.component.html
  src/assets/img/a-icon-search-3.svg
  src/styles/_main-styles.scss
Due: stylelint --syntax=scss, htmllint

HW31-Angular - Finished
  db.json
  src/app/app/app.module.ts
  src/app/core/models/courses.model.ts
  src/app/core/services/courses.api-service.ts
  src/app/core/services/courses.service.spec.ts
  src/app/courses/components/course/course.component.html
  src/app/courses/components/course/course.component.ts
  src/app/courses/containers/courses/courses.component.html
  src/app/courses/containers/courses/courses.component.ts
  src/app/courses/courses.module.ts
  src/app/courses/services/courses.service.spec.ts
  src/app/courses/services/courses.service.ts
  src/img/a-icon-accurate.svg
  src/img/a-icon-arrow.svg
  src/img/a-icon-attach.svg
  src/img/a-icon-comment.svg
  src/img/a-icon-dribbble.svg
  src/img/a-icon-facebook.svg
  src/img/a-icon-hidepass.svg
  src/img/a-icon-iconset.svg
  src/img/a-icon-instagram.svg
  src/img/a-icon-like-1.svg
  src/img/a-icon-mail.svg
  src/img/a-icon-melody.svg
  src/img/a-icon-picture.svg
  src/img/a-icon-play.svg
  src/img/a-icon-playmini.svg
  src/img/a-icon-search-1.svg
  src/img/a-icon-showpass.svg
  src/img/a-icon-text.svg
  src/img/a-icon-typography.svg
Due: htmllint

HW32 - temporary state
  db.json
  src/app/core/models/courses.model.ts
  src/app/courses/components/course/course.component.html
  src/app/courses/components/course/course.component.ts
  src/app/courses/containers/courses/courses.component.ts
  src/app/courses/courses.module.ts
Due: htmllint

HW32 finished
  db.json
  src/app/app/app.module.ts
  src/app/app/components/loader/loader.component.html
  src/app/app/components/loader/loader.component.scss
  src/app/app/components/loader/loader.component.spec.ts
  src/app/app/components/loader/loader.component.ts
  src/app/app/containers/app/app.component.html
  src/app/app/containers/app/app.component.ts
  src/app/core/services/loader.service.spec.ts
  src/app/core/services/loader.service.ts
  src/app/courses/containers/courses/courses.component.html
  src/app/courses/containers/courses/courses.component.ts
  src/app/courses/courses.module.ts
  src/app/courses/directives/hightlight-new-course.directive.spec.ts
  src/app/courses/directives/hightlight-new-course.directive.ts
  src/app/courses/pipes/minuts-to-hours.pipe.spec.ts
  src/app/courses/pipes/minuts-to-hours.pipe.ts
  src/app/courses/services/courses.service.ts
Due: stylelint --syntax=scss, htmllint

HW32 finished
  src/app/courses/directives/hightlight-new-course.directive.ts
Due: none

HW33 - Finished
  db.json
  src/app/core/models/courses.model.ts
  src/app/core/services/courses.api-service.ts
  src/app/core/validators/date.validator.ts
  src/app/core/validators/range.validators.ts
  src/app/courses/components/course-form/course-form.component.html
  src/app/courses/components/course-form/course-form.component.ts
  src/app/courses/components/course/course.component.html
  src/app/courses/components/course/course.component.ts
  src/app/courses/containers/courses/courses.component.html
  src/app/courses/containers/courses/courses.component.scss
  src/app/courses/containers/courses/courses.component.ts
  src/app/courses/containers/new-course/new-course.component.html
  src/app/courses/containers/new-course/new-course.component.ts
  src/app/courses/courses.module.ts
  src/app/courses/courses.routing-module.ts
  src/app/courses/services/courses.service.ts
  src/styles/_main-styles.scss
Due: stylelint --syntax=scss, htmllint

Path conditions:
  eslint --ext=js .: any of: *.js
  stylelint --syntax=scss: any of: *.scss
  htmllint: any of: *.html
